{% extends "template_base.html" %}

{% block title %}main title{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Waarschuwing:</span>
    Deze site is nog onder ontwikkeling
    </div>

    <p>
        Welkom bij <i>Bits Don't Byte</i>, de kleinste hosting specialist van Nederland!
    </p>
    <p>
        Wat wij voor U kunnen betekenen ...
    </p>
</div>
{% endblock %}

