{% extends "template_base.html" %}

{% block title %}downloads{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">Downloads</div>
  <div class="panel-body" style="margin-top:0px; padding-top: 0px;">

      <div class="row">
          <div class="col-md-12">
              <ul>
                  <li>file</li>
                  <li>file</li>
                  <li>file</li>
              </ul>
          </div>
      </div>
  </div>
</div>
{% endblock %}

